.about {
  background: #0d1425;
  padding-top: 80px;
  border-top: 1px solid #282d4b;
}
.about-content-devide {
  display: flex;
  align-items: center;
 
}
.about-text-content p {
  color: white;
  font-family: "Roboto", sans-serif;
}
.inner-about-content {
  color: #bbbfc5;
  margin-top: 30px;
  background: #0B1120;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #1D2431;
}

.inner-about-content > div {
  margin-bottom: 10px;
}

.aboutInnerIcon {
  font-size: 12px;
  height: 20px;
  width: 20px;
  color: #119ae9;
  margin-right: 10px;
}
