.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.header h2 a {
  color: white;
  text-decoration: none;
}
.nav-item a {
  text-decoration: none;
  padding: 4px 10px;
  margin: 0 5px;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
.nav-item a:hover {
  background: #313950;
}
.nav-item button {
  padding: 6px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: #313950;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.nav-item button:hover {
  background: #272e42;
}
.btn-wrap-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoutIcon {
  height: 20px;
  width: 20px;
}
