::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #04070c;
  box-shadow: inset 1px 1px 5px rgb(17, 50, 59);
}

::-webkit-scrollbar-thumb {
  background: #182749;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #182749;
}
/* p {
  font-family: 'Itim', cursive;
} */